body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
    color: #343a40; 
}

header {
    background-color: #0458b3; 
    color: white;
    padding: 15px 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

#course-list, #course-form {
    margin-bottom: 20px;
    background: white; 
    border: 1px solid #dee2e6; 
    border-radius: 10px; 
    padding: 15px; 
}

h2 {
    color: #007bff; 
    margin-bottom: 10px;
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #dee2e6
}

li:last-child {
    border-bottom: none; 
}

button {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px; 
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; 
}

input[type="text"], textarea {
    width: 90%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ced4da; 
    border-radius: 8px; 
}

